In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# url to the page
url_red_plante = 'https://redplanetscience.com'

# Use the browser to navigate to the given URL.
browser.visit(url_red_plante)

In [4]:
html = browser.html

soup = bs(html, 'html.parser')

In [23]:
article = soup.find('div', class_='list_text')

article_title = article.find('div', class_='content_title').text
article_paragraph = article.find('div', class_='article_teaser_body').text
print("News title: " + article_title + "\n--------\n" + "News paragraph: " + article_paragraph)
    


# OPTION 2
# news_title = soup.find_all('div', class_='content_title')[0].text
# paragraph_text = soup.find_all('div', class_='article_teaser_body')[0].text   
# print(f"The latest News Title: {news_title}.")
# print('-------------')
# print(f"Paragraph Text: {paragraph_text}.")



# FIND ALL THE TITLES AND PARAGRAPHS
# for i in range(len(news_title)):        
#     print("Title: ", news_title[i].text)
#     print("Paragraph: ", paragraph_text[i].text)
#     print('-------------------')

News title: NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
--------
News paragraph: To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.

In [6]:
url_mars_facts = 'https://galaxyfacts-mars.com'

In [7]:
mars_facts = pd.read_html(url_mars_facts)
mars_facts

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
mars_facts_df = pd.DataFrame(mars_facts[0])
mars_facts_df.columns = mars_facts_df.loc[0]
mars_facts_df.set_index('Mars - Earth Comparison', inplace=True)
mars_facts_df.drop('Mars - Earth Comparison', inplace=True)
mars_facts_df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [9]:
mars_facts_df.to_html('mars_facts_table.html')

In [10]:
url_images = 'https://spaceimages-mars.com/'
browser.visit(url_images)

In [12]:
browser.find_by_text(' FULL IMAGE').first.click()
img = browser.find_by_css('img.fancybox-image')
featured_image_url = img['src']

In [13]:
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'